<a href="https://colab.research.google.com/github/njh0581/pandas/blob/main/03_Subset_1)_rows.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### [참고] <a href="https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf">Pandas Cheat Sheet</a>

In [1]:
import pandas as pd
import numpy as np

## 1. row 기준
![image.png]()

### 1) head / tail

In [2]:
df = pd.DataFrame(
    {
        "a":[4,5,6,6,np.nan],
        "b":[7,8,np.nan,9,9],
        "c":[10,11,12,np.nan,12]
    },
    index=[1,2,3,4,5]
)
df

     a    b     c
1  4.0  7.0  10.0
2  5.0  8.0  11.0
3  6.0  NaN  12.0
4  6.0  9.0   NaN
5  NaN  9.0  12.0

In [3]:
# head()
df.head()

     a    b     c
1  4.0  7.0  10.0
2  5.0  8.0  11.0
3  6.0  NaN  12.0
4  6.0  9.0   NaN
5  NaN  9.0  12.0

In [4]:
df.head(2)

     a    b     c
1  4.0  7.0  10.0
2  5.0  8.0  11.0

In [5]:
df.tail(2)

     a    b     c
4  6.0  9.0   NaN
5  NaN  9.0  12.0

### 2) sample

In [7]:
df.sample()

     a   b     c
3  6.0 NaN  12.0

In [8]:
# n의 개수는 전체의 행 수를 넘어서 지정하면 에러 발생
# 임의로 3개 가져오기

df.sample(n=3)

     a    b     c
2  5.0  8.0  11.0
3  6.0  NaN  12.0
1  4.0  7.0  10.0

### 3) nlargest / nsmallest

In [ ]:
df.nlargest?

In [9]:
# a 컬럼에서 가장 큰거 세개
df.nlargest(3,"a")

     a    b     c
3  6.0  NaN  12.0
4  6.0  9.0   NaN
2  5.0  8.0  11.0

In [10]:
df.nlargest(1,"c")

     a   b     c
3  6.0 NaN  12.0

In [11]:
df.nsmallest(2,"a")

     a    b     c
1  4.0  7.0  10.0
2  5.0  8.0  11.0

### 4) 중복 행 제거 : drop_duplicates()


```
df.drop_duplicates(
    subset: Union[Hashable, Sequence[Hashable], NoneType] = None,    
    keep: Union[str, bool] = 'first',    
    inplace: bool = False,    
    ignore_index: bool = False,
) -> Union[ForwardRef('DataFrame'), NoneType]
```

   a  b   c
a  4  7  10
b  5  8  11
c  6  9  12
d  6  9  12

   a  b   c
a  4  7  10
b  5  8  11
c  6  9  12

In [ ]:
df

   a  b   c
a  4  7  10
b  5  8  11
c  6  9  12
d  6  9  12

In [ ]:
df

   a  b   c
a  4  7  10
b  5  8  11
c  6  9  12

### 5) 불린 인덱싱

    name  age        job
0   John   25    student
1   Nate   34    teacher
2  Jenny   30  developer

0    False
1     True
2     True
Name: age, dtype: bool

    name  age        job
1   Nate   34    teacher
2  Jenny   30  developer

   name  age      job
1  Nate   34  teacher

   name  age      job
1  Nate   34  teacher

    name  age        job
2  Jenny   30  developer

### 6) query()

    name  age        job
1   Nate   34    teacher
2  Jenny   30  developer

   name  age      job
1  Nate   34  teacher

#### [실습] friend_df

#### 1) head()

    name  age        job
0   John   25    student
1   Nate   34    teacher
2  Jenny   30  developer

    name  age        job
0   John   25    student
1   Nate   34    teacher
2  Jenny   30  developer

#### 2) tail()

    name  age        job
0   John   25    student
1   Nate   34    teacher
2  Jenny   30  developer

    name  age        job
0   John   25    student
1   Nate   34    teacher
2  Jenny   30  developer

#### 3) nlargest()

   name  age      job
1  Nate   34  teacher

#### 4) nsmallest()

   name  age      job
0  John   25  student

#### 5) sample()

   name  age      job
1  Nate   34  teacher

    name  age        job
1   Nate   34    teacher
2  Jenny   30  developer

#### [실습] drop_duplicates()

     name             major  gender
0    John  Computer Science    male
1    Nate  Computer Science    male
2  Edward  Computer Science    male
3    Zara        Psychology  female
4    John  Computer Science    male

0    False
1    False
2    False
3    False
4     True
dtype: bool

     name             major  gender
0    John  Computer Science    male
1    Nate  Computer Science    male
2  Edward  Computer Science    male
3    Zara        Psychology  female

     name             major  gender
0    John  Computer Science    male
1    Nate  Computer Science    male
2  Edward  Computer Science    male
3    Zara        Psychology  female
4   Wendy         Economics  female
5    Nate              None    male
6    John         Economics    male

0    False
1    False
2    False
3    False
4    False
5    False
6    False
dtype: bool

0    False
1    False
2    False
3    False
4    False
5     True
6     True
dtype: bool

     name             major  gender
0    John  Computer Science    male
1    Nate  Computer Science    male
2  Edward  Computer Science    male
3    Zara        Psychology  female
4   Wendy         Economics  female